{{!-- action to route post --}}
<form action="/events" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="event-name" placeholder="name">
  <label for="description">description</label>
  <input type="text" name="description" id="event-description">
  <label for="hour">hour</label>
  <input type="text" name="hour" id="event-hour">
  <button type="submit">submit</button>
</form>