
{{!-- action to route post --}}
<h1>Create an event</h1>

<form action="/events/add" method="post">
 <div class="image-event">        
    <img src="{{!-- {{eventData.image}} --}}/images/eventPaseoPlaya.jpg" class="eventsimg singleEventImg">
  </div>
<div class="container-data-event">
<label class="label-create-event" for="name">Title</label>
  <input class="form-create-event-name" type="text" name="name" id="form-create-event"><br>
  <label class="label-create-event" for="description">Description</label>
  <input class="form-create-event-dscription" type="text" name="description" id="form-create-event"><br>
  <label class="label-create-event" for="date">Date</label>
  <input class="form-create-event-date" type="date" name="date"  id="form-create-event"><br>
  <label class="label-create-event" for="location">Location</label>
  <input class="form-create-event-location" type="text" name="location" id="form-create-event"><br>
  <label class="label-create-event" for="hour" >Hour</label>
  <input class="form-create-event-hour" type="text" placeholder="00:00" name="hour" id="form-create-event"><br>
  <label class="label-create-event" for="mood">Choose a mood:</label> 
  <select class="form-create-event-mood" name="mood" id="form-create-event">
    <option value="Chill">Chill</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
  </select><br>
  <br>
  {{#if error}}
  {{error}}
  {{/if}}
  <br>
</div>
  
<button type="submit"class="button-submit-create-event">Submit</button>
</form>