{{!-- action to route post --}}
<form action="/events/add" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="event-name" placeholder="name">
  <label for="description">description</label>
  <input type="text" name="description" id="event-description">
  <label for="hour">hour</label>
  <input type="text" name="hour" id="event-hour">
  <label for="date">date</label>
  <input type="date" name="date"  id="event-date">
  <label for="location">location</label>
  <input type="text" name="location" id="event-location">
  <label for="mood">Choose a mood:</label> 
  <select id="mood" name="mood">
    <option value="Chill">Chill</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
  </select>

 
  <button type="submit">submit</button>
</form>