<div class="container-individual-Movie">
    
    <div class="image-event">
        <img src="{{eventData.image}}" alt="image-event">
    </div>
    <div class="data-event">
        <h1>{{eventData.name}}</h1>
        <h2>{{eventData.description}}</h2>
        <h2>{{eventData.hour}}</h2>
        <a href="/events">Go back</a>

    </div>
</div>