
<link rel='stylesheet' href='/stylesheets/styleAuth.css' >

<img class="logoimg" src="/images/logoname.png">
<div class="cuadrotrans">
  <div class= "form"></div>
<form id="form" action="/signup" method="POST">

   <input type="text" name="username" placeholder="Your username">  
  <label for="username">_____________</label><br>

<br>
  <input type="password" name="password" placeholder="********">
  <label for="password">_____________</label><br>


<div class= "error">
{{#if error}}
  {{error}}
  {{/if}}
</div>

  <button class="buttonenter" type="submit">Ready</button>
   <p>Are you already registered?<a href='./login' class="buttonnew">Log in</a>

  
</form>

</div>
<footer class="footerauth"> © Copyright 2020 Gisela García and Raquel Muniesa, Barcelona </footer>

