<form action="/profile/{{profileData._id}}" method="post">
  <label for="name">name</label>
  <input type="text" name="username" id="user-name" placeholder="name" value="{{profileData.username}}">

  <button type="submit">submit</button>
</form>

</div>  