<h1 class="profile-title">My profile</h1>
<span>{{currentUser}}</span>
<div class="profile-content">
    <div class="profile-information">
        <h2>{{currentUser.username}}</h2>
    
    </div>
{{#if isOwner}}
<div class="profile-modifications">
<a href="/profile/{{currentUser._id}}/edit">Edit</a>
</div>
{{/if}}
<a href="/logout">logout</a>

<a href="/events">Back</a>
