<h1>{{title}} ,</h1> 

<link rel='stylesheet' href='/stylesheets/styleHome.css' >

<img class="logoimg" src="/images/logo.png">

<h2> find me.</h2>
<nav >
    <a href="./signup" class="button">Sign Up</a>
	<a href="./login" class="button">Login</a>
</nav>

<footer> © Copyright 2020 Gisela García and Raquel Muniesa, Barcelona </footer>

