
<link rel='stylesheet' href='/stylesheets/styleHome.css' >
<link rel='stylesheet' href='/stylesheets/animate.css' >

<img class="logoimg animated zoomInDown" src="/images/logoname.png">



    <a href="./signup" class="buttonsignup">Join us</a>
	<p>Are you already registered?<a href="./login" class="buttonlogin">Enter</a></p>


<footer> © Copyright 2020 Gisela García and Raquel Muniesa, Barcelona </footer>

