<h1>{{title}} , find me.</h1>
<p>Enter and discover your plan!</p>
<img src="/images/logo.png">
<img src="/images/wallyname.png">

<a href='./signup'>Sign Up</a>
<a href='./login'>Log In</a>

<footer> © Copyright Gisela and Raquel</footer>