<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' class="container">
    <meta name="viewport" content="width=375,height=667, initial-scale=1.0">
  </head>
  <body>
    {{!-- <img class="logoname" src="/images/wallyname.png"> --}}

    {{{body}}}
    
  </body>
</html>


{{!-- alt, coman 7 --}}