<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="reset.css">
    <meta name="viewport" content="width=375,height=667, initial-scale=1.0">
  </head>
  <body>
    {{!-- <a href="/events"class="back-button"> < </a> --}}

    {{{body}}}
    
  </body>
</html>