<h1>Pick your mood</h1>
<form action="/events" method="post">
  <label for="mood">Select your mood: </label>
  <select id="mood">
  <option value="">--Select--</option>
  <option value="{{profileData.mood}}">Chill</option>
  <option value="{{profileData.mood}}">Medium</option>
  <option value="{{profileData.mood}}">Hard</option>
</select>
  <button type="submit">submit</button>
</form>



