<h1>Pick your mood</h1>
<form action="/mood" method="post">
 <label for="mood">Mood</label>
  <input type="text" name="mood" id="user-mood" placeholder="Chill/Medium/Hard" value="{{profileData.mood}}">

  <button type="submit">Go</button>
</form>




