<h1>Pick your mood</h1>
<form action="/mood" method="post">
  <label for="mood">Mood</label> <br>
  <input type="text" name="mood" id="user-mood" placeholder="Chill/Medium/Hard" value="{{profileData.mood}}"><br>
  <button type="submit"class="nextpage">Go!</button>
</form>



