<link rel='stylesheet' href='/stylesheets/styleAuth.css' >

<h1>How are you feeling today?</h1>
<form action="/mood" method="post">
 <label for="mood"></label> 
  <br>
  <div class="content-select">
  <select id="mood" name="mood">
    <option value="Chill">Chill</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
  </select>
  </div>
  <br>
  <button type="submit"class="buttonenter">Go!</button>
</form>

<footer> © Copyright 2020 Gisela García and Raquel Muniesa, Barcelona </footer>


