<h1>Pick your mood</h1>
<form action="/mood" method="post">
 <label for="mood">Choose a mood:</label> 
  <select id="mood" name="mood">
    <option value="Chill">Chill</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
  </select>
  <button type="submit"class="nextpage">Go!</button>
</form>



