<link rel='stylesheet' href='/stylesheets/styleAuth.css' >

<h1>How're you feeling today?</h1>
<form action="/mood" method="post">
 <label for="mood"></label> 
  <br>
  <div class="content-select">
  <select id="moodselect" name="mood">
    <option value="Chill">😌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chill mood</option>
    <option value="Medium"> 😬 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medium mood</option>
    <option value="Hard">🤪 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hard mood</option>
  </select>
  </div>
  <br>
  <button type="submit"class="buttonenter">Go!</button>
</form>

<footer> © Copyright 2020 Gisela García and Raquel Muniesa, Barcelona </footer>


