@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');
/*ROJ #E75A5F - NAR #FDB15D - AMARI #FEE698 PIO FAFADC*/


body {
    background-image: url(/images/fondohome.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 639px;
  }

  .logoimg{
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    display:block;
    opacity: 80%;
}
.buttonsignup{
  font-family: 'Baloo Da 2', cursive;
  font-size: 14px;
  text-decoration:none;
  text-align: center;
  color: whitesmoke;
  padding: 3px;
  display:block;
  margin-top: 5px;
  background-color: #E75A5F;
  max-width: 200px;
  max-height: 500px;
  margin:10px auto;
}

p{
  font-family: 'Baloo Da 2', cursive;
  color: whitesmoke;
  font-size: 13px;
  text-align: center;
}

.buttonlogin{
  font-family: 'Baloo Da 2', cursive;
  font-size: 14px;
  text-decoration:none;
  background-color: #E75A5F;
  color: whitesmoke;
  padding: 3px;
  max-width: 200px;
  max-height: 500px;
  margin:10px auto;
  margin-left: 15px;
}


  footer{
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: whitesmoke;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-top: 50px;

  }

