@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: url(/images/profilepic.png);
    background-repeat: no-repeat;  
  }


.container-individual-profile{
    display: flex;
    flex-direction: column;
    /*background-color: rgba(250, 250, 220, 0.995);*/
    -webkit-border-top-left-radius: 5%;
    -webkit-border-top-right-radius: 5%;
    margin-top: 250px;
  }

  .user-name, .event-list{
    color: rgb(231, 89, 95);
    text-align: center;
    font-family: "Montserrat";
    display: block;
 
  }
  .profile-style {
    color: rgba(0, 0, 0, 0.721);
    margin: 10px 20px 0px 0px;
    font-family: "Montserrat";
    line-height: 30px;
    font-size: 14px;
  

  }  
  .profile-style-description{
    color: rgba(0, 0, 0, 0.721);
    font-family: "Montserrat";
    line-height: 30px;
    text-align: justify;
    font-size: 14px;
    margin-left: 41px;
    margin-right: 40px;

  }
  
  .age-icon, .pinmap-icon, .mood-icon{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left:40px;
  }
   
  .container-icons{
    
    background-color: #ececec;
    background-repeat: no-repeat;
    -webkit-border-top-left-radius: 3%;
    -webkit-border-top-right-radius: 3%;
    
  }
  .container-icon{
    display: flex;
  }



  /*LIST JOINED*/

/*BUTTONS*/

.buttonedit{
  color: #fff;
  font-size: 14px;
  background: #fa6972;
  display: block;
  padding: 10px;
  width: 81px;
  margin-left: 140px;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat";

}

  .buttondelacc{
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 10px;
    width: 102px;
    margin-left: 140px;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat";
    outline: none;
    border: none;
   
  }


.buttoneditgo{
  color: #fff;
    font-size: 14px;
    display: block;
    padding: 10px;
    width: 102px;
    margin-left: 140px;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat";
    outline: none;
    border: none;
    background: #fa6972;

    
  }

  input[type="text"]
{
    background: transparent;
    border: none;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgba(0, 0, 0, 0.721);

}

textarea
{
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.721);
    font-family: "Montserrat";
    line-height: 30px;
    text-align: justify;
    font-size: 14px;
    height: 20px;
    min-width: 300px;
    min-height: 250px;
    max-width: 300px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;

}
input[name="username"]
{
    background: transparent;
    border: none;
    color: rgba(231, 90, 95, 0.714);
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 30px;

}

::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-size: 14px;
    } 

    .content-select select{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        
    }
    
    .content-select select::-ms-expand {
        display: none;
    
    }
    .content-select{
        max-width: 250px;
        position: relative;
        margin-left: 60px;
        
    }
    
     
    .content-select select{
        display: inline-block;
        width: 100%;
        cursor: pointer;
          padding: 7px 10px;
          height: 42px;
          outline: 0; 
          border: 0;
        border-radius: 0;
        background: #f0f0f0;
        color: #7b7b7b;
        font-size: 1em;
        color: #999;
        font-family: "Montserrat";
        border:2px solid rgba(0,0,0,0.2);
        border-radius: 12px;
        position: relative;
        transition: all 0.25s ease;
        text-align: center;
    }
     .event-list-profile{
      list-style-type: none;
     }

     .name-listevent{  
      text-decoration: none;
      color: rgba(0, 0, 0, 0.721);
      font-family: "Montserrat";
      line-height: 30px;
      font-size: 14px;
      }
      
      .back-button{
        font-family: "Montserrat";
        font-size: 14px;
        text-decoration:none;
        text-align: center;
        color: whitesmoke;
        padding: 3px;
        display:block;
        position: absolute;
        left:10px;
        margin-top: 5px;
        width: 20px;
        margin:10px auto;
        outline:none;
        border: none;
        border-radius: 50%;
        margin-top: 27px;
      }

      .content-select{
        max-width: 250px;
          position: relative;
          margin-left: 60px;
      }
      /*select*/
       
      .content-select select{
        display: inline-block;
        width: 100%;
        cursor: pointer;
          padding: 7px 10px;
          height: 45px;
          outline: 0; 
          border: 0;
        border-radius: 0;
        background: #f0f0f0;
        color: #7b7b7b;
        font-size: 1em;
        color: #999;
        font-size: 14px;
        border:2px solid rgba(0,0,0,0.2);
          border-radius: 12px;
          position: relative;
          transition: all 0.25s ease;
      }
      
      .moodselect{
          text-align: center;
      
      }
       
      .profile-style select{
        display: inline-block;
        width: 100%;
        cursor: pointer;
          padding: 0px 10px;
          height: 30px;
          width: 160px;
          outline: 0; 
          border: 0;
        border-radius: 0;
        background: transparent;
        color: #7b7b7b;
        font-size: 1em;
        color: #999;
        font-size: 14px;
        border:2px solid rgba(0,0,0,0.2);
          border-radius: 12px;
          position: relative;
          transition: all 0.25s ease;
      }
      
      .moodselect{
          text-align: center;
      
      }
      .name-profile{
        margin-top: 10px;
      }
      
      .image-back{
        width: 30px;
      }

      #user-description{
        width: 258px;
      }